# West workspace artifacts (fetched by `west update`)
/.west/
/zephyr/
/modules/
/bootloader/
/tools/

# Twister test output directories
/twister-out*

# MkDocs build output
/site/

# Build directories
/build/
