ZEPHYR_ALTRUIST_ZEPHYR_FIRMWARE_MODULE_DIR=/home/runner/work/altruist-zephyr-firmware/altruist-zephyr-firmware
ZEPHYR_CMSIS_MODULE_DIR=/home/runner/work/altruist-zephyr-firmware/modules/hal/cmsis
ZEPHYR_HAL_ESPRESSIF_MODULE_DIR=/home/runner/work/altruist-zephyr-firmware/modules/hal/espressif
ZEPHYR_XTENSA_MODULE_DIR=/home/runner/work/altruist-zephyr-firmware/modules/hal/xtensa
