#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	aliases {
		altruist-status-led = &altruist_status_led;
		altruist-user-button = &altruist_user_button;
		altruist-sensor-main = &altruist_sensor_main;
	};

	leds {
		compatible = "gpio-leds";

		altruist_status_led: altruist_status_led {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "Altruist status LED";
		};
	};

	buttons {
		compatible = "gpio-keys";

		altruist_user_button: altruist_user_button {
			gpios = <&gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Altruist user button";
		};
	};

	altruist_sensor_main: altruist_sensor_main {
		compatible = "zephyr,user";
	};
};
